{% include 'base.html' %}
{% load static %}

{% block content %}
<main class="container my-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-lg-6">
            <div class="nes-container with-title" style="background-color: white;">
                <p class="title">Hangman</p>
                <p>Welcome to Hangman! Guess the word/s to defeat the enemy before you run out of lives.</p>
                <p>Choose your category and difficulty, and hit play to begin!</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
            <div class="nes-container with-title" style="background-color: white;">
                <p class="title">Start Game</p>
                <form action="{% url 'create_game' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <p class="nes-text mb-2">Choose a category:</p>
                        <div class="d-flex flex-column gap-2">
                            {% for value, label in form.category.field.choices %}
                                {% if value %}
                                <label>
                                    <input type="radio" class="nes-radio" name="category" value="{{ value }}" {% if forloop.first %}checked{% endif %} />
                                    <span>{{ label }}</span>
                                </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mb-4">
                        <p class="nes-text mb-2">Choose a difficulty:</p>
                        <div class="d-flex flex-wrap gap-3">
                            {% for value, label in form.difficulty.field.choices %}
                                <label>
                                    <input type="radio" class="nes-radio" name="difficulty" value="{{ value }}" {% if forloop.first %}checked{% endif %} />
                                    <span>{{ label }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <button type="submit" class="nes-btn is-primary" :click="isLoading = true">Play</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}