[x-cloak] { display: none !important; }

#game-console-wrapper {
    padding: 20px;
    border: 10px solid #adb5bd;
    border-radius: 40px;
}

#healthbar {
    width: 60%;
    margin: 0 auto;
    transform: scaleY(0.7);
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-4px, 0); }
    50% { transform: translate(4px, 0); }
    75% { transform: translate(-4px, 0); }
    100% { transform: translate(0, 0); }
}

.animate-shake {
    display: inline-block;
    animation: shake 0.5s ease-in-out;
}